/* 2Dレイヤー */
.inner {
  position: absolute;
  padding: 0 2rem;
  background: grey;
  border: white solid 2px;
  border-radius: 5px;
  margin: 2rem;
  bottom: 0;
  left: 0;
}
.text {
  color: white;
  font-size: 1rem;
}
