/* 2Dレイヤー */
.inner {
  position: absolute;
  padding: 0 2rem;
  background: grey;
  border: white solid 2px;
  border-radius: 5px;
  margin: 2rem;
  bottom: 0;
  left: 0;
}

/* 実験 */
#Test {
  position: absolute;
  padding: 2rem;
  background: red;
  border: solid 1px white;
  top: -20%;
  left: -20%;
}

.text {
  color: white;
  font-size: 1rem;
}

/* 各場所の解説 commentary */

#commentary > div {
  position: fixed;
  z-index: 999;
  color: white;
  line-height: 1;
  top: 50%;
  left: 50%;
  background: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  border: solid white 1px;
  box-shadow: 3px 10px 10px black;
  overflow: hidden;
  text-align: justify;
}
#commentary .clickToClose {
  line-height: 0.7;
  right: 7%;
  font-size: 5px;
  position: absolute;
  z-index: 1000;
  font-family: "游明朝";
}

#commentary .dialogCursor {
  position: absolute;
  width: 150px;
  height: 150px;
  right: calc(50% - 75px);
  top: calc(50% - 75px);
  z-index: -1;
  animation: dialogAnim 4s alternate-reverse infinite linear;
  background-image: url(./static_assets/img/あまじょうロゴ縁取り.png);
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.2;
}

#commentary h1 {
  font-family: "游ゴシック";
}

/* マウスストーカ― */

#stalker {
  pointer-events: none;
  z-index: 999;
  width: 50;
  height: 50;
  position: fixed;
  top: -8px;
  left: -8px;
  background: red;
  transition: -1s;
  border-radius: 50%;
}

/* body {
  cursor: none;
} */

/* keyframes */
@keyframes dialogAnim {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
