body {
  user-select: none;
}

/* 2Dレイヤー */
.inner {
  position: absolute;
  padding: 0 2rem;
  background: grey;
  border: white solid 2px;
  border-radius: 5px;
  margin: 2rem;
  bottom: 0;
  left: 0;
}

/* 実験 */
#Test {
  position: absolute;
  padding: 2rem;
  background: red;
  border: solid 1px white;
  top: -20%;
  left: -20%;
}

.text {
  color: white;
  font-size: 1rem;
}

/* 各場所の解説 commentary */

#commentary > div {
  position: fixed;
  z-index: 999;
  color: white;
  line-height: 1;
  top: 50%;
  left: 50%;
  background: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  border: solid white 1px;
  box-shadow: 3px 10px 10px black;
  overflow: hidden;
  text-align: justify;
  min-width: 500px;
  /* user-select: none; */
}
#commentary .clickToClose {
  line-height: 0.7;
  right: 7%;
  font-size: 5px;
  position: absolute;
  z-index: 1000;
  font-family: "游明朝";
}

#commentary .dialogCursor {
  position: absolute;
  width: 150px;
  height: 150px;
  right: calc(50% - 75px);
  top: calc(50% - 75px);
  z-index: -1;
  animation: dialogAnim 4s alternate-reverse infinite linear;
  background-image: url(./static_assets/img/あまじょうロゴ縁取り.png);
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.4;
}

#commentary h1 {
  font-family: "游ゴシック";
}
/* #commentaryのNEWラベル */
#commentary > div.new:before {
  content: "NEW";
  top: 0;
  right: 28px;
  position: absolute;
  background: red;
  padding: 15px 0.2rem;
  font-weight: bold;
  text-shadow: 3px 0px 5px white, -3px 0px 5px white, -3px 4px 10px white;
  z-index: 2;
}
#commentary > div.new:after {
  content: "";
  position: absolute;
  top: 28px;
  right: 28px;
  border-width: 20px 23.5px 8px 23.5px;
  border-style: solid;
  border-color: red red transparent red;
}

/* ハンバーガーメニュー */
#nav-button {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
  background: white;
  z-index: 3;
}
#nav {
  position: absolute;
  padding: 1rem 1rem 0 1rem;
  text-align: center;
  margin: 0;
  width: 400px;
  height: calc(100% - 1rem);
  top: 0;
  left: 0;
  transform: translateX(-100%);
  z-index: -1;
  transition: 0.5s;
  /* border-right: solid white 1px; */
  overflow: hidden;
  font-family: "游明朝";
}
/* 右の線 */
ul#nav.on:after {
  content: "";
  position: absolute;
  width: 1px;
  height: 300px;
  transform: translateY(-300px);
  border-left: solid #536596 1px;
  z-index: 200;
  top: 0;
  right: -1;
  animation: FrameAnimVertical 1s infinite linear;
}
/* 上の線 */
ul#nav.on:before {
  content: "";
  position: absolute;
  width: 300px;
  height: 1px;
  transform: translateX(-300px);
  border-bottom: solid #536596 1px;
  z-index: 200;
  top: 0;
  left: -1;
  animation: FrameAnimHorizon 1s infinite linear;
}
/* 左の線 */
ul#nav.on span:before {
  content: "";
  position: absolute;
  width: 1px;
  height: 300px;
  transform: translateY(-300px);
  border-right: solid #536596 1px;
  z-index: 200;
  top: 0;
  left: -1;
  animation: FrameAnimVerticalReverse 1s infinite linear;
}
/* 下の線 */
ul#nav.on span:after {
  content: "";
  position: absolute;
  width: 300px;
  height: 1px;
  transform: translateX(300px);
  border-top: solid #536596 1px;
  z-index: 200;
  bottom: 0;
  right: -1;
  animation: FrameAnimHorizonReverse 1s infinite linear;
}

#nav li {
  color: white;
  font-weight: bold;
  list-style: none;
  /* background: rgba(128, 2, 117, 0.3); */
  background: rgb(24 55 81 / 30%);
  position: relative;
  z-index: 2;
}

.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
}

#nav li:first-of-type {
  margin-top: 3em;
}
#nav li + li {
  margin-top: 2em;
}

#nav.on {
  transform: none;
  z-index: 2;
  background: rgba(0, 0, 0, 0);
}
/* 進捗状況のテーブル関係 */
h2 {
  margin: 0;
}
th {
  position: relative;
  z-index: 202;
}
/* コンプリートしたth */
th.complete:before {
  content: "COMPLETE!!";
  top: 50%;
  left: 50%;
  position: absolute;
  z-index: 201;
  transform: translate(-50%, -20%);
  color: yellow;
  filter: blur(1px);
}
/* ここまで */
th,
td {
  border: solid white 1px;
  color: white;
  padding: 5px;
  width: 35%;
}
td {
  text-align: right;
  padding-right: 1rem;
}

@keyframes FrameAnimVertical {
  from {
    top: 0;
  }
  to {
    border-left: solid white 1px;
    top: calc(100% + 300px);
  }
}
@keyframes FrameAnimHorizon {
  from {
    left: 0;
  }
  to {
    border-bottom: solid white 1px;
    left: calc(100% + 300px);
  }
}
@keyframes FrameAnimVerticalReverse {
  from {
    top: 100%;
  }
  to {
    border-right: solid white 1px;
    top: calc(0 - 300px);
  }
}
@keyframes FrameAnimHorizonReverse {
  from {
    right: 0;
  }
  to {
    border-top: solid white 1px;
    right: calc(100% + 300px);
  }
}

/* マウスストーカ― */

#stalker {
  pointer-events: none;
  z-index: 999;
  width: 50;
  height: 50;
  position: fixed;
  top: -8px;
  left: -8px;
  background: red;
  transition: -1s;
  border-radius: 50%;
}

/* ロード画面のCSS */
.loader {
  color: #ffffff;
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  position: absolute;
  z-index: 1;
  top: calc(50% - 90px);
  left: calc(50% - 45px);
}
@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
      -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
      -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
      -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
      -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
      -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
      -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
      -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
      -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
      -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
      -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
      -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
      -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* keyframes */
@keyframes dialogAnim {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

/* bluelight(背景のかっこいいアニメーション) */
.bluelight {
  z-index: -1;
  display: table;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.bluelight:before,
.bluelight:after,
.bluelight a:before,
.bluelight a:after {
  transition: 0.2s ease-in-out;
  content: "";
  display: block;
  position: absolute;
  border-radius: 50%;
  border: 60px dashed transparent;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.bluelight:before,
.bluelight a:before {
  animation: rotate 20s linear 0s infinite;
  width: 360px;
  height: 360px;
  border: 3px dotted rgba(10, 175, 230, 0);
  z-index: -1;
}
.bluelight:before {
  border-color: rgba(10, 175, 230, 0.3);
}
.bluelight:after {
  animation: rotate 10s linear 0s infinite reverse;
  border: 80px dashed rgba(10, 175, 230, 0);
  width: 320px;
  height: 320px;
  z-index: -2;

  border-color: rgba(10, 175, 230, 0.1);
}

.bluelight a:before {
  animation: rotate 5s ease-in-out 0s infinite alternate;
  width: 240px;
  height: 240px;
  border: 50px dashed rgba(10, 175, 230, 0);
  border-color: rgba(10, 175, 230, 0.3);
}
.bluelight a:after {
  animation: rotate 5s linear 0s infinite;
  border: 18px dashed rgba(10, 175, 230, 0);
  width: 240px;
  height: 240px;

  border-color: rgba(10, 175, 230, 0.3);
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

/* タイピング風の見出し */
@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}

:root {
  /* 変数の宣言 */
  /* 文字幅 */
  /* あまじょう看板前の時 XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
  --signboard: 5em;
  --narrowRoad: 3em;
  --parkingPath: 6em;
  /* 駐車場の時 XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
  --parkingPlace: 3em;
  --reflected: 5em;
  --building: 2em;
  /* 玄関の時 XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
  --vendingMachine: 3em;
  --shoeBox: 2em;
  --handWashFacilities: 4em;
  /* 2階の時 XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
  --bench: 11em;
  --disinfection: 3em;
  --typhoon: 4em;
  /* 1年教室の時 XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
  --stove: 4em;
  --solderingIron: 5em;
  --screen: 5em;
  /* 2年教室の時 XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
  --poster: 9em;
  --darts: 3em;
  --monitor: 4em;
  /* 多目的室の時 XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
  --xmas: 6em;
  --equipment: 4em;
  --microwave: 11em;
  /* アニメーション */
  /* あまじょう看板前の時 XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
  --signboardAnim: typing 1s steps(5, end),
    blink-caret 0.5s step-end infinite alternate;
  --narrowRoadAnim: typing 1s steps(3, end),
    blink-caret 0.5s step-end infinite alternate;
  --parkingPathAnim: typing 1s steps(6, end),
    blink-caret 0.5s step-end infinite alternate;
  /* 駐車場の時 XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
  --parkingPlaceAnim: typing 1s steps(3, end),
    blink-caret 0.5s step-end infinite alternate;
  --reflectedAnim: typing 1s steps(5, end),
    blink-caret 0.5s step-end infinite alternate;
  --buildingAnim: typing 1s steps(2, end),
    blink-caret 0.5s step-end infinite alternate;
  /* 玄関の時 XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
  --vendingMachineAnim: typing 1s steps(3, end),
    blink-caret 0.5s step-end infinite alternate;
  --shoeBoxAnim: typing 1s steps(2, end),
    blink-caret 0.5s step-end infinite alternate;
  --handWashFacilitiesAnim: typing 1s steps(4, end),
    blink-caret 0.5s step-end infinite alternate;
  /* 2階の時 XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
  --benchAnim: typing 1s steps(11, end),
    blink-caret 0.5s step-end infinite alternate;
  --disinfectionAnim: typing 1s steps(3, end),
    blink-caret 0.5s step-end infinite alternate;
  --typhoonAnim: typing 1s steps(4, end),
    blink-caret 0.5s step-end infinite alternate;
  /* 1年教室の時 XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
  --stoveAnim: typing 1s steps(4, end),
    blink-caret 0.5s step-end infinite alternate;
  --solderingIronAnim: typing 1s steps(5, end),
    blink-caret 0.5s step-end infinite alternate;
  --screenAnim: typing 1s steps(5, end),
    blink-caret 0.5s step-end infinite alternate;
  /* 2年教室の時 XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
  --posterAnim: typing 1s steps(9, end),
    blink-caret 0.5s step-end infinite alternate;
  --dartsAnim: typing 1s steps(3, end),
    blink-caret 0.5s step-end infinite alternate;
  --monitorAnim: typing 1s steps(4, end),
    blink-caret 0.5s step-end infinite alternate;
  /* 多目的室の時 XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
  --xmasAnim: typing 1s steps(6, end),
    blink-caret 0.5s step-end infinite alternate;
  --equipmentAnim: typing 1s steps(4, end),
    blink-caret 0.5s step-end infinite alternate;
  --microwaveAnim: typing 1s steps(11, end),
    blink-caret 0.5s step-end infinite alternate;
}

.type {
  border-right: 0.1em solid white;
  white-space: nowrap;
  overflow: hidden;
  padding-top: 1px;
}
/* あまじょう看板前 XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
.t-signboard {
  width: var(--signboard);
  animation: var(--signboardAnim);
}
.t-narrowRoad {
  width: var(--narrowRoad);
  animation: var(--narrowRoadAnim);
}
.t-parkingPath {
  width: var(--parkingPath);
  animation: var(--parkingPathAnim);
}
/* 駐車場 XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
.t-parkingPlace {
  width: var(--parkingPlace);
  animation: var(--parkingPlaceAnim);
}
.t-reflected {
  width: var(--reflected);
  animation: var(--reflectedAnim);
}
.t-building {
  width: var(--building);
  animation: var(--buildingAnim);
}
/* 玄関 XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
.t-vendingMachine {
  width: var(--vendingMachine);
  animation: var(--vendingMachineAnim);
}
.t-shoeBox {
  width: var(--shoeBox);
  animation: var(--shoeBoxAnim);
}
.t-handWashFacilities {
  width: var(--handWashFacilities);
  animation: var(--handWashFacilitiesAnim);
}
/* 2階 XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
.t-bench {
  width: var(--bench);
  animation: var(--benchAnim);
}
.t-disinfection {
  width: var(--disinfection);
  animation: var(--disinfectionAnim);
}
.t-typhoon {
  width: var(--typhoon);
  animation: var(--typhoonAnim);
}
/* 1年教室 XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
.t-stove {
  width: var(--stove);
  animation: var(--stoveAnim);
}
.t-solderingIron {
  width: var(--solderingIron);
  animation: var(--solderingIronAnim);
}
.t-screen {
  width: var(--screen);
  animation: var(--screenAnim);
}
/* 2年教室 XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
.t-poster {
  width: var(--poster);
  animation: var(--posterAnim);
}
.t-darts {
  width: var(--darts);
  animation: var(--dartsAnim);
}
.t-monitor {
  width: var(--monitor);
  animation: var(--monitorAnim);
}
/* 多目的室 XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
.t-xmas {
  width: var(--xmas);
  animation: var(--xmasAnim);
}
.t-equipment {
  width: var(--equipment);
  animation: var(--equipmentAnim);
}
.t-microwave {
  width: var(--microwave);
  animation: var(--microwaveAnim);
}
