/*ロゴを表示するコンテナのスタイル*/
.logo-container {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden; /*コンテナからはみ出したlogoを非表示にする*/
}

/*ロゴのスタイル*/
.logo {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  animation: animate-logo 8s linear;
}

.logo-1 {
  background-image: url("./static_assets/logo/amajo-logo.png");
  z-index: 100;
}

/* ロゴのボタン */
#logoButton {
<<<<<<< HEAD
  /* display: none; */
  border: 1px solid white;
  text-align: center;
  width: fit-content;
  padding: 10px;
  margin: 10px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  position: absolute;
  z-index: 101;
  top: 0;
  left: 0;
  cursor: pointer;
=======
  user-select: none;
  border: 1px solid white;
  text-align: center;
  cursor: pointer;
  font-size: 2rem;
}

#l-nav.on div#logoButton:before {
  background-image: url(./static_assets/logo/amajo-logo.png);
  background-position: 0%;
  background-size: contain;
  background-repeat: repeat;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -2;
  animation: logoTranslate 20s linear alternate infinite;
}

#l-nav.on div#logoButton:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background: black;
  opacity: 0.7;
>>>>>>> 5ff2f36e32b1c626022f605175c7ccf0abb2af81
}

/*ロゴが降るアニメーション*/
@keyframes animate-logo {
  0% {
    opacity: 0;
    top: 0;
    transform: rotate(0);
  }

  10% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 100vh; /*コンテナの一番下*/
    transform: rotate(1080deg); /*360degで一回転*/
  }
}
/* ロゴが横移動するアニメーション */
@keyframes logoTranslate {
  to {
    background-position: 100%;
  }
}
